[defaults]
roles_path = roles
inventory = inventories/production/inventory.yml
retry_files_enabled = false
host_key_checking = false
timeout = 30
forks = 20
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600
gathering = smart
stdout_callback = yaml
callback_whitelist = timer
nocows = 1

[privilege_escalation]
become = true
become_method = sudo
become_ask_pass = false

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
control_path = %(directory)s/%%h-%%r

[diff]
always = true
context = 3
