[Unit]
Description=MinIO
Documentation=https://docs.min.io
After=network-online.target
Wants=network-online.target

[Service]
User={{ nexus_minio_user }}
Group={{ nexus_minio_group }}
EnvironmentFile=/etc/default/minio
ExecStart={{ nexus_minio_install_dir }}/minio server $MINIO_OPTS $MINIO_VOLUMES
Restart=always
RestartSec=10
LimitNOFILE=65536
LimitNPROC=65536
TasksMax=infinity
TimeoutStartSec=0
TimeoutStopSec=0
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
