# roles/traefik/templates/dynamic_conf.yml.j2
http:
  routers:
    nexus:
      rule: "Host(`{{ traefik.domain }}`)"
      entryPoints:
        - "websecure"
      service: "nexus-service"
      {% if traefik.letsencrypt | bool %}
      tls:
        certResolver: "le"
      {% else %}
      tls: {}
      {% endif %}

  services:
    nexus-service:
      loadBalancer:
        servers:
          - url: "http://{{ nexus.container_name | default('nexus') }}:{{ nexus.http_port | default(8081) }}"
        passHostHeader: true
